.todo {
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
    animation: openSlide 0.5s ;
}

.todo label {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.todo button {
    margin-left: auto;
}

.todo span.done {
    text-decoration: line-through;
}

@keyframes openSlide {
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}